<% cssElements.agregar('/css/entrenador/administrar'); 
jsElements.agregar('/js/entrenador/administrar'); %>
<div class="row full-width-row encabezado">
    <div class="medium-1 columns">
        <div class="row">
            <a href="/entrenador">
                <img src="/images/back.png" style="height:64px"/>
            </a>
        </div>
        <div class="row">
            <a href="/entrenador">
                <span>Regresar</span>
            </a>
        </div>
    </div>
    <div class="medium-10 large-7 medium-centered columns">
        <h2>Administración de usuarios</h2>
    </div>
</div>
    
<div data-ng-controller="administrarUsuariosCtlr" class="row full-width-row contenido">
    <div class="small-12 columns contenido-col">
    
        <div class="row datagrid-panel">
            <div class="medium-10 medium-centered columns datagrid-col">
            
                <div class="row filtro-row">
                    <div class="medium-4 medium-offset-8 columns">
                        <div class="row collapse">
                            <div class="medium-1 columns">
                                <img class="prefix" style="border:0" src="/images/filter.png"/>
                            </div>
                            <div class="medium-11 columns">
                                <input type="text" placeholder="Filtrar..." ng-model="txtFiltro">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row datagrid">
                    <table class="medium-12 columns">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th width="200">Username</th>
                                <th width="150">Tipo</th>
                                <th width="150">Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="usuario in Usuarios | filtroUsuarios:objFiltro" data-ng-click="select(usuario)" ng-dblclick="filaDblClick('Editando usuario', UsuarioSeleccionado)" data-ng-class="{filaSeleccionada: $parent.FilaSeleccionada == usuario.id}">
                                <td class="celda-nombre">{{usuario.nombre}}</td>
                                <td>{{usuario.username}}</td>
                                <td>{{usuario.tipo}}</td>
                                <td><a href="#" data-reveal-id="borrar-usuario-modal">borrar</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        
        <div class="row boton-panel small-centered">
            <div class="small-2 columns">
                <button ng-disabled="FilaSeleccionada == null" data-reveal-id="borrar-usuario-modal">Borrar</button>
            </div>
            <div class="small-2 columns">
                <button data-ng-click="usrForm('Editando usuario', UsuarioSeleccionado)" ng-disabled="FilaSeleccionada == null" data-reveal-id="usuario-modal">Editar</button>
            </div>
            <div class="small-2 columns">
                <button data-ng-click="usrForm('Nuevo usuario', {tipo:'Alumno', nuevo:true})" data-reveal-id="usuario-modal">Nuevo</button>
            </div>
        </div>
        
    </div>
    
    <div id="usuario-modal" class="reveal-modal" data-reveal>
        <h2>{{tituloForm}}</h2>
        <div class="row">
            <div class="small-8 medium-centered columns">
                
                <form id="edit-usuario-form" name="edit-usuario-form" autocomplete="off">
                
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="nombre-label" class="left inline">Nombre</label>
                        </div>
                        
                        <div class="small-9 columns">
                            <input type="text" id="nombre-label" placeholder="Nombre de pila" ng-model="editUsuario.nombre" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="Username-label" class="left inline">Username</label>
                        </div>
                        
                        <div class="small-9 columns">
                            <input type="text" id="Username-label" placeholder="Nombre de usuario" ng-model="editUsuario.username" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="Contraseña-label" class="left inline">Contraseña</label>
                        </div>
                        
                        <div class="small-9 columns">
                            <input type="password" id="Contraseña-label" placeholder="Contraseña" ng-model="editUsuario.password" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="Contraseña2-label" class="left inline">Rep. Contraseña</label>
                        </div>
                        
                        <div class="small-9 columns">
                            <input type="password" id="Contraseña2-label" placeholder="Repita su contraseña" ng-model="editUsuario.password2" autocomplete="off">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="Tipo-label" class="left inline">Tipo</label>
                        </div>
                        
                        <div class="small-9 columns">
                            <select id="Tipo-label" data-ng-model="editUsuario.tipo" data-ng-options="tipo for tipo in ['Entrenador', 'Alumno']">
                            </select>
                        </div>
                    </div>
                    
                    <a data-ng-click="guardarUsuario()" class="button">He terminado</a>
                
                </form>
                <div id="alertas-usuario-modal"></div>
            </div>
        </div>
        
        <a class="close-reveal-modal">&#215;</a>
    </div>
    
    <div id="borrar-usuario-modal" class="reveal-modal" data-reveal>
        <h2>¿Seguro que desea borrar al usuario "{{UsuarioSeleccionado.username}}"?</h2>
        <p>Borrar al usuario significa que no sólo su cuenta será borrada del sistema, sino también todo su historial de sesiones
        y calificaciones.</p>
        <p>Una vez borrados estos datos del sistema no habrá forma de recuperarlos, pero liberará espacio.</p>
        <button ng-click="borrarUsuario()" class="radius button">Sí, bórralo <span style="font-size:0.6rem">(¡Muajajaja!)</span></button>
        <button ng-click="borrarUsuario(true)" class="radius button">No, mejor no</button>
    </div>
    
    <div id="msgBox-modal" class="reveal-modal" data-reveal>
        <h2>{{msgBox.Titulo}}</h2>
        <p>{{msgBox.Mensaje}}</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    
    <div id="Error-modal" class="reveal-modal" data-reveal>
        <h2>Ocurrió un error. =(</h2>
        <p>No se pudo completar la acción. Por favor verifique el estado de su conexión e intente de nuevo más tarde.</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    
    <div id="usuario-duplicado-modal" class="reveal-modal" data-reveal>
        <h2>Nombre de usuario no disponible</h2>
        <p>No se guardaron los cambios porque el nombre de usuario "{{editUsuario.username}}" ya está en uso.
        Por favor, escriba un nuevo nombre de usuario e intente de nuevo.</p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
    
</div>