.login-view, .login-view {
    height: 100%;
    width: 100%;
}

.login-view .encabezado, .login-view .footer {
    height: 20%;
}

.login-view .encabezado h1{
    margin-top: 2%;
}

.login-view .sesion {
    height: 60%;
}

.login-view .sesion-form {
    margin-top: 13%;
}

.login-view .footer {
    max-width: 100%;
}

.login-view .footer .columns {
    height:100%;
}


.login-view .footer a {
    position: absolute;
    bottom: 1em;
}